/* Place Your Custom Styles Here */

/* Projects */

.pc-margin {
    margin-bottom: 30px;
}

.pc-height {
    height: 25em;
}

.pc-text {
    text-align: center;
    font-size: 20px;
    float: right;
}

.pc-btn {
    display: inline-block;
    margin: auto 20% auto 20%;
}

.pc-btn-text {
    margin-left: 15px;
    font-family: "Montserrat", Helvetica, sans-serif;
}

