/* Place Your Custom Styles Here */

/* Projects */
.pc-height {
    height: 25em;
}

.pc-text {
    text-align: center;
    font-size: 20px;
    margin-left: 100%;
}

.pc-line-ht {
    line-height: 40pt;
}

.pc-rf-wedge {
    margin: auto 10% auto 10%;
}

.rf-row-align {
    align-content: center;
}

.rf-row {
    display: flex;
    flex-direction: row;
    
}

.rf-col {
    display: flex;
    flex-direction: column;
}
